__pycache__
.ipynb_checkpoints
.vscode

TEST.py
backup

/tests_*
# /tests_v1_0
# /tests_v1_1
# /tests_v1_2
# /tests_v1_3
/dev_tests
/dev

/debugs
*.excalidraw
# documentations

devKey
explanation_draft.txt

# documentations
_documentations
tests

journey